.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.buttons button {
  margin-left: 10px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.tr > td {
  vertical-align: middle !important;
}
